version: 2
jobs:
  build:
    branches:
      only:
        - master
    working_directory: ~/code
    docker:
      - image: circleci/android:api-29
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Chmod permissions #if permission for Gradlew Dependencies fail, use this.
          command: sudo chmod +x ./gradlew
      - run:
          name: Run build
          command:  export TERM=${TERM:-dumb} && ./gradlew clean build
      - run: echo $ENCODED_KEYSTORE | base64 --decode --ignore-garbage >> ${HOME}/keystore.jks
      - run: echo ‘export KEYSTORE=${HOME}/keystore.jks’ >> $BASH_ENV

      - run: echo $DEPLOYMENT_PRIVATE_KEY | base64 --decode --ignore-garbage >> ${HOME}/deployment_private_key.json
      - run: echo ‘export PRIVATE_KEY=${HOME}/deployment_private_key.json’ >> $BASH_ENV
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run Tests
          command: ./gradlew lint test
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_test_results:
          path: app/build/test-results
      - run:
          name: Upload to Google Play
          command: ./gradlew publishRelease
# See https://circleci.com/docs/2.0/deployment-integrations/ for deploy examples
